body {
    padding: 20px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #fff;
    transition:background-color 1s ease;
}

a {
    color: #00B7FF;
}

.current-value {
    font-size: 4rem;
}

.updated {
    background:#ebf6f9;
}

.last-updated-container {
    display: none;
}